<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/main.js" defer></script>
</head>
<body>
<header></header>
<main>
    <div>
        <h2>
            welcome to the home page
            here find information about the terrorist attack
        </h2>

        <div class="insert_button">
            <p>To insert terrorist attacks click here</p>
            <button id="insertButton">Insert Data Base</button>
            <div id="responseContainer"></div>
        </div>
    </div>
</main>
<footer></footer>

</body>
</html>