<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/main.js" defer></script>
</head>
<body>
<header>
    <h2>
        welcome to the home page
        here find information about the terrorist attack
    </h2>
</header>

<main>
    <div class="main_container">

        <div class="insert_button">
            <p>To insert terrorist attacks click here</p>
            <button id="insertButton">Insert Data Base</button>
            <div id="responseContainer"></div>
        </div>

        <div class="attack_info">
            <p>Show all attacks</p>
            <a class="btn" href="http://localhost:5000/terroristic_attack_info/top-attacks">show attack</a>
            <p>Show top 5 to attacks</p>
            <a class="btn" href="http://localhost:5000/terroristic_attack_info/top-attacks?top_n=5">show top 5 attack</a>
        </div>
    </div>
</main>
<footer></footer>

</body>
</html>